{% extends "dashboard/base.html" %}

{% block content %}
<div id="content" class="app-content">

    <div class="container">

        <div class="row justify-content-center">

            <div class="col-xl-10">

                <div class="row">

                    <div class="col-12">
                        <h1 class="page-header">
                            Parolni o'zgartirish
                        </h1>
                        <hr class="mb-4">

                        <div class="mb-5">
                            <div class="card">
                                <div class="card-body pb-2">
                                    <form method="post">
                                        {% csrf_token %}
                                        {{ form.as_p }}

                                        <button class="btn btn-warning text-white" type="submit"><i class="fas fa-plus"></i> O'zgartirish</button>
                                        <a href="{% url 'dashboard_home' %}" class="btn btn-primary mx-1"><i class="fas fa-arrow-left"></i> Orqaga qaytish</a>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>
{% endblock content %}