{% extends "dashboard/base.html" %}

{% block modals %}
<div class="modal fade" id="modalDelete">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ogohlantirish</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p id="modalText"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-bs-dismiss="modal">Yo'q</button>
                <a href="#" type="button" id="deleteLink" class="btn btn-danger">Ha o'chiraman</a>
            </div>
    </div>
  </div>
</div>


{% endblock modals %}

{% block content %}
<div id="content" class="app-content">
    <div class="row">
        <div class="col-xl-6">
            <h1 class="page-header mb-3">
                    Imtihonlar ro'yhati
            </h1>
        </div>
        <div class="col-xl-6 text-end">
            <a class="btn btn-success mb-2" href="{% url 'quiz_create' %}">
                <i class="fas fa-plus"></i> Imtihon qo'shish
            </a>
        </div>
    </div>

    <div class="row">

        <div class="col-12">
            <div class="card">
                <div class="card-body table-responsive">
                    <form method="post" action="{% url 'quiz_checked_delete' %}">
                        <div class="modal fade" id="modalAllDelete">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ogohlantirish</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p class="fw-bold">Barcha tanlanganlarni o'chirmoqchimisiz?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-bs-dismiss="modal">Yo'q</button>
                <button type="submit" class="btn btn-danger">Ha o'chiraman</button>
            </div>
    </div>
  </div>
</div>
                        {% csrf_token %}
                        <table class="table table-striped">
                            {% if quizes %}
                                <thead>
                                <tr>
                                    <th scope="col"><input type="checkbox" id="select-all"> #</th>
                                    <th scope="col">Imtihon turi</th>
                                    <th scope="col">Fan</th>
                                    <th scope="col">Urinishlar soni</th>
                                    <th scope="col">Imtihon xolati</th>
                                    <th scope="col" class="text-end">Taxrirlash</th>
                                </tr>
                            </thead>
                                <tbody>
                                {% for quiz in quizes %}
                                    <tr>
                                        <th scope="row">
                                            <input type="checkbox" name="quiz_ids" value="{{ quiz.id }}"> {{ forloop.counter }}
                                        </th>
                                        <td class="fw-bold">
                                            <a class="text-decoration-none" href="{% url 'quiz_edit' pk=quiz.id %}">
                                                {{ quiz.title }}
                                            </a>
                                        </td>
                                        <td>
                                            {{ quiz.subject }}
                                        </td>
                                        <td>
                                            {{ quiz.maximum_attempts }}
                                        </td>

                                        <td>
                                            {% if quiz.status %}
                                                <div class="form-check form-switch">
                                                    <input onchange="checkboxChange('{{ quiz.id }}')" type="checkbox" class="form-check-input" checked id="switch_{{ quiz.id }}">
                                                </div>
                                            {% else %}
                                                <div class="form-check form-switch">
                                                    <input onchange="checkboxChange('{{ quiz.id }}')" type="checkbox" class="form-check-input" id="switch_{{ quiz.id }}">
                                                </div>
                                            {% endif %}
                                        </td>
                                        <td align="right">
                                            <a href="{% url 'quiz_edit' pk=quiz.id %}" class="btn btn-sm btn-outline-primary">
                                                <i class="far fa-edit"></i>
                                            </a>
                                            <button type="button" data-bs-toggle="modal" data-bs-target="#modalDelete"
                                                    data-quiz-id="{{ quiz.id }}" data-quiz-name="{{ quiz.title }}"
                                                    class="btn btn-sm btn-outline-danger">
                                                <i class="far fa-trash-alt"></i>
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            {% else %}
                                <h5 class="text-danger">Hozircha imtihonlar yo'q!</h5>
                            {% endif %}
                    </table>

                        <div id="allDeleteDiv" class="d-none">
                        <button type="button" data-bs-toggle="modal" data-bs-target="#modalAllDelete"
                                class="btn btn-sm btn-outline-danger">
                            <i class="far fa-trash-alt"></i> Barcha tanlanganlarni o'chirish
                        </button>
                    </div>
                    </form>


                </div>
            </div>
        </div>

    </div>


</div>
{% endblock content %}

{% block scripts %}
    <script>
        $('#modalDelete').on('show.bs.modal', function (event) {
            let button = $(event.relatedTarget);
            let quizId = button.data('quiz-id');
            let quizName = button.data('quiz-name');

            document.getElementById('deleteLink').href = `/dashboard/quiz/quiz/${quizId}/delete/`;
            document.getElementById('modalText').innerHTML = `Rostdan ham <b>${quizName}</b> ni o'chirmoqchimisiz?`;
        });
    </script>

    <script>
        // Script to handle "Select All" functionality
        document.getElementById('select-all').addEventListener('change', function () {
            var checkboxes = document.getElementsByName('quiz_ids');
            for (var i = 0; i < checkboxes.length; i++) {
                checkboxes[i].checked = this.checked;
            }
            document.getElementById('allDeleteDiv').classList.remove('d-none');
        });
    </script>

    <script>
    // Get all checkboxes by their name attribute
    var checkboxes = document.getElementsByName('quiz_ids');

    // Add an event listener to each checkbox
    checkboxes.forEach(function (checkbox) {
        checkbox.addEventListener('change', function () {
            document.getElementById('allDeleteDiv').classList.remove('d-none');

            if (!this.checked) {
                document.getElementById('select-all').checked = false;
            }
        });
    });
</script>
<script>
    switchers = document.querySelectorAll(".form-switch");
    function checkboxChange(id) {
        switcher = document.querySelector(`#switch_${id}`)
        var xhr = new XMLHttpRequest();
        xhr.open('GET', `/dashboard/quiz/quiz/${id}/quiz-active/`, true);
        xhr.onload = function () {
            if (xhr.status === 200) {
                // Ma'lumotni olish va uni ishlatish (mumkin)
                var responseData = JSON.parse(xhr.responseText);
                console.log(responseData);
            }
        };
        xhr.send();
    }
</script>
{% endblock scripts %}